#navbar {
  border-top: 1px solid lightgrey;
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  padding: 20px 0 0 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar-item {
  padding: 5px;
}

.navbar-item:hover {
  border: 1px solid lightgrey;
  border-radius: 50%;
  background-color: yellow;
}

.icon {
  width: 40px;
}
